@model Catalog;

@{
    ViewData["Title"] = "Catalog";
}

<h2>Каталог</h2>

@foreach (Product product in Model.GetCatalog())
{
    
    <a class="nav-link text-dark" href="/Catalog/Product/@product.Id">
        <img style="height: 50px" src="@product.Img" alt="@product.Name">
        <span>Продукт: </span> @product.Name <span>Цена: </span> @product.Price <br/>
    </a>
}
